# BACKEND
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
MANIFEST
*.manifest
*.spec
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
*.cover
*.py.cover
.pytest_cache/
cover/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# PyBuilder
.pybuilder/
target/

# Environments
env/
.venv/
.idea/

# FRONTEND